<!-- <app-header></app-header> -->
    <!-- ===============================================-->
    <!-- Registration Form-->
    <!-- ===============================================-->
    <section class="vh-100" style="background-color: rgb(238, 238, 238); ">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                      <form ngNativeValidate #regform = "ngForm" (ngSubmit) = "submit(regform)">


                        <div class="form-group">
                          <label for="form3Example1c">User Name</label>
                          <input required type="text" id="form3Example1c" class="form-control" style= "color: black" name="Name" placeholder="User Name"/>
                        </div>

                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input #ename = "ngModel" required type = "email" class = "form-control" id = "exampleInputEmail1" placeholder = "Enter email" style = "color: #000;" ngModel>
                          <div *ngIf = "ename.touched && ename.invalid" class="alert-danger">
                            Email is required
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input #pass = "ngModel" minlength="6" required type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="color: #000;" ngModel>
                          <div *ngIf = "pass?.errors?.['minlength']">
                            Invalid Password
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="exampleInputPassword1">Confirm Password</label>
                          <input #cpass = "ngModel" minlength="6" required type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="color: #000;" ngModel>
                          <div *ngIf = "cpass?.errors?.['minlength'] && cpass">
                            Invalid Password
                          </div>
                        </div>

                        <div class="form-check d-flex justify-content-center mb-5">
                          <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" /><label class="form-check-label" for="form2Example3">I agree all statements in <a href="#!">Terms of service</a></label>
                        </div>

                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <button type="submit" name="Submit" class="btn btn-primary btn-lg">Register</button>
                        </div>

                      </form>

                    </div>

                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                      <img src="/assets/img/illustrations/traveling-and-vacation-3237299-2700397.webp"
                        class="img-fluid" alt="Sample image">
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

