<!-- <app-header></app-header> -->
    <!-- ===============================================-->
    <!-- Login Form-->
    <!-- ===============================================-->

    <!-- <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center" style="padding-top: 20px;">
            <div class="container box" style="margin-top: 10px; padding-left: 0px; padding-right: 0px;">
               <div class="row">
                  <div class="col-12" style="text-align: center;">
                                       <form [formGroup] = "formData" (ngSubmit)="onClickSubmit(formData.value)"
                                             class="form-signin">
                                       <h2 class="form-signin-heading">Please sign in</h2>
                                       <label for="inputEmail" class="sr-only">Email address</label>
                                       <input type="text" id="username" class="form-control"
                                             formControlName="userName" placeholder="Username" required autofocus>
                                       <label for="inputPassword" class="sr-only">Password</label>
                                       <input type="password" id="inputPassword" class="form-control"
                                             formControlName="password" placeholder="Password" required>
                                       <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                                       </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div> -->
    <section class="vh-100" style="background-color: rgb(238, 238, 238);">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">


                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>
                    <form ngNativeValidate #loginform = "ngForm" (ngSubmit) = "submit(loginform)" >
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input #ename = "ngModel" required type = "email" class = "form-control" id = "exampleInputEmail1" placeholder = "Enter email" style = "color: #000;" ngModel>
                        <div *ngIf = "ename.touched && ename.invalid" class="alert-danger">
                          Email is required
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input #pass = "ngModel" minlength="6" required type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="color: #000;" ngModel>
                        <div *ngIf = "pass?.errors?.['minlength']">
                          Enter strong password
                        </div>
                      </div>

                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" ngModel>
                        <label class="form-check-label" >Remember me</label>
                      </div>
                      <div class="d-flex justify-content-center mx- mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-primary btn-lg">Login</button>
                      </div>
                    </form>

                  </div>


                  <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                    <video src="/assets/img/illustrations/man-holding-glass-of-juice-and-woman-relaxing-on-bench-3573981-3056980.mp4"
                      class="img-fluid" alt="Sample video" autoplay muted loop>
                    </video>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



<!-- <div style="text-align:center">
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ngModel>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ngModel>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div> -->
